#backgroundText {
    background-image:url('https://stockcake.com/i/airplane-mid-flight_90850_1487')
    background-size: cover;
    background-position: center;
    color: white;
    padding: 40px;
    font-size: 28px;
    height: 300px;
    text-align: center;
}

body {
    padding: 40px;
    border-radius: 10px;
    border: 5px;
    color: black;
    font-family: cursive;
    text-align: center;
}

.social-media-icons a {
    margin: 0 10px;
    display: inline-block;
}
.social-media-icons img {
    vertical-align: left;
}